# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Large Dataset Files (Ignore the 1.7GB raw dataset)
job_descriptions.csv

# macOS
.DS_Store

# Virtual environments
venv/
env/
.venv/
.env/

# Streamlit
.streamlit/
